gunicorn
transformers==4.57.6
torch
faiss-cpu==1.13.2
Flask==3.1.2
frozenlist==1.8.0
google-genai==1.60.0
langchain==1.2.7
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-google-genai==4.2.0
langchain-text-splitters==1.1.0
pypdf==6.6.2
pyTelegramBotAPI==4.30.0
websockets==15.0.1
google-api-core
